%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        = link_to "Счастье в Евразии", root_path
    %li.toggle-topbar.menu-icon
      %a
        %span
          Menu
  %section.top-bar-section
    %ul.left
      %li.divider
      %li
        = content_tag 'li', :class => cp(about_path) do
          = link_to "Что это?", about_path
    %ul.right
      = content_tag 'li', :class => cp(stocks_path) do
        = link_to "Акции", stocks_path
      = content_tag 'li', :class => cp(restaurants_path) do
        = link_to "Рестораны", restaurants_path