- content_for :title, @stock.title

.panel
  .row
    .small.large-2.columns
      = image_tag @stock.image_url, :class => 'th'
    .small.large-10.columns
      %h3= link_to @stock.title, @stock.originalLink, :title => '_blank'
      %a#toggle_description Показать полную информацию

  .row#description
    .small.large.large-centered.columns
      %br
      %p= @stock.description.html_safe

  .row
    %br
    .small.large-3.columns
      %h3 Рестораны
    .small.large-9.columns
      = render 'partials/search'

  .row
    .small.large.columns
      %ul.small-block-grid-1.large-block-grid-2#stock-restaurants
        - @stock.restaurants.each do |r|
          %li.restaurant
            .alert-box.secondary
              .row
                .small.large.columns
                  %h5
                    = link_to restaurant_path(r), :target => '_blank' do
                      %span.title= r.title

                  %h6.subheader
                    %b Улица:
                    =link_to addr2maps(r.street, r.city.name), :target => '_blank'  do
                      %span.street=r.street

                  -unless r.metro.empty?
                    %h6.subheader
                      %b Метро:
                      %span.metro= r.metro

                  %h6.subheader
                    %b Время акции:
                    - hours = r.stock_hours.find_by_stock_id(@stock.id).hours
                    %span.hours= hours
                    - if stock_now?(hours)
                      %span.label.success
                        сейчас