- content_for :title, 'Рестораны'

.row
  .small.large.columns
    = render 'partials/search'

%ul.small-block-grid-1.large-block-grid-2#restaurants
  - @restaurants.each do |r|
    %li.restaurant
      .alert-box.secondary
        %h5
          = link_to restaurant_path(r), :target => '_blank', :class => 'title' do
            %span.title= r.title

        %h6.subheader
          %b Улица:
          = link_to addr2maps(r.street, r.city.name) do
            %span.street= r.street

        -unless r.metro.empty?
          %h6.subheader
            %b Метро:
            %span.metro= r.metro

        %h6.subheader
          %b Время работы:
          %span.hours= r.business_hours