- content_for :title, @restaurant.title

.panel#restaurant_info
  .row
    .small.large.columns
      %h3= link_to @restaurant.title, @restaurant.original_link, :title => '_blank'


      %h6.subheader
        %b
          Улица:
        = link_to @restaurant.street, addr2maps(@restaurant.street, @restaurant.city.name), :target => '_blank'

      %h6.subheader
        %b
          Город:
        = @restaurant.city.name

      -unless @restaurant.metro.empty?
        %h6.subheader
          %b
            Метро:
          = @restaurant.metro

      %h6.subheader
        %b
          Телефон:
        = @restaurant.phone

      %h6.subheader
        %b
          Время работы:
        = @restaurant.business_hours

  .row
    .small.large.columns
      %br
      %h3 Акции
      %ul.small-block-grid-2.large-block-grid-4
        - @restaurant.stocks.each do |s|
          %li
            .alert-box.secondary.stock
              = link_to stock_path(s), :title => '_blank' do
                = image_tag s.image_url, :class => 'th'
              %center
                %br
                - hours = s.stock_hours.find_by_restaurant_id(@restaurant.id).hours

                - if hours == 'всегда'
                  %span.label.success
                    всегда
                - else
                  .subheader= hours

                  - if stock_now?(hours)
                    %span.label.success
                      сейчас
