!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Счастье в Евразии"
    = favicon_link_tag
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"

    = csrf_meta_tags
  %body
    .row
      .small.small-centered.large-11.large-centered.columns
        = render 'partials/navbar'
    .row
      .small.small-centered.large-11.large-centered.columns
        = yield
    .row
      .small.small-centered.large-11.large-centered.columns
        = render 'partials/footer'

  = javascript_include_tag "application"
